In [25]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re

In [35]:
df = pd.read_excel(r"C:\Users\chandan\Desktop\python\z1DataCleaning\TestDataCleaning\cleaned_data.xlsx")
df

,ID,Email,Text,Phone,Age,Salary,Registration_Date
0,abc123,test.email@example.com,This is a sample text.,+1-800-555-1234,25.0,50000,2022-01-15
1,def456,another.email@domain.org,Another example text here.,800-555-5678,30.0,60000,2021-06-25
2,ghi789,User@Website.net,Text with numbers 123 and symbols #!@.,123-456-7890,22.0,52000,2023-03-10
3,JKL012,invalid-email,text with multiple spaces,1-800-555-2345,40.0,80000,2020-12-01
4,mno345,sample.user@domain.com,NaN,NaN,35.0,75000,2021-09-14
5,PQR678,TEST@EXAMPLE.COM,TEXT TO CLEAN!,+44 20 7946 0958,28.0,58000,2022-04-05
6,stu901,NaN,text with CAPS and nums 456,(123) 456-7890,26.0,62000,2023-02-19
7,vwx234,user@domain..com,random TEXT to clean,8005557890,29.0,54000,2022-08-22
8,NaN,admin@site,special Chars!@#,123 456 7890,NaN,49000,2021-11-30
9,YZ789,contact@website.com,last one with Text.,555-555-5555,33.0,70000,2020-07-08

In [36]:
df["Registration_Date"] = pd.to_datetime(df["Registration_Date"])
df

,ID,Email,Text,Phone,Age,Salary,Registration_Date
0,abc123,test.email@example.com,This is a sample text.,+1-800-555-1234,25.0,50000,2022-01-15
1,def456,another.email@domain.org,Another example text here.,800-555-5678,30.0,60000,2021-06-25
2,ghi789,User@Website.net,Text with numbers 123 and symbols #!@.,123-456-7890,22.0,52000,2023-03-10
3,JKL012,invalid-email,text with multiple spaces,1-800-555-2345,40.0,80000,2020-12-01
4,mno345,sample.user@domain.com,NaN,NaN,35.0,75000,2021-09-14
5,PQR678,TEST@EXAMPLE.COM,TEXT TO CLEAN!,+44 20 7946 0958,28.0,58000,2022-04-05
6,stu901,NaN,text with CAPS and nums 456,(123) 456-7890,26.0,62000,2023-02-19
7,vwx234,user@domain..com,random TEXT to clean,8005557890,29.0,54000,2022-08-22
8,NaN,admin@site,special Chars!@#,123 456 7890,NaN,49000,2021-11-30
9,YZ789,contact@website.com,last one with Text.,555-555-5555,33.0,70000,2020-07-08

In [37]:
# Trim whitespace
df["ID"] = df["ID"].str.strip()
df["Email"] = df["Email"].str.strip()
df["Text"] = df["Text"].str.strip()

df["Email"] = df["Email"].str.lower()
df["Text"] = df["Text"].str.lower()
df

,ID,Email,Text,Phone,Age,Salary,Registration_Date
0,abc123,test.email@example.com,this is a sample text.,+1-800-555-1234,25.0,50000,2022-01-15
1,def456,another.email@domain.org,another example text here.,800-555-5678,30.0,60000,2021-06-25
2,ghi789,user@website.net,text with numbers 123 and symbols #!@.,123-456-7890,22.0,52000,2023-03-10
3,JKL012,invalid-email,text with multiple spaces,1-800-555-2345,40.0,80000,2020-12-01
4,mno345,sample.user@domain.com,NaN,NaN,35.0,75000,2021-09-14
5,PQR678,test@example.com,text to clean!,+44 20 7946 0958,28.0,58000,2022-04-05
6,stu901,NaN,text with caps and nums 456,(123) 456-7890,26.0,62000,2023-02-19
7,vwx234,user@domain..com,random text to clean,8005557890,29.0,54000,2022-08-22
8,NaN,admin@site,special chars!@#,123 456 7890,NaN,49000,2021-11-30
9,YZ789,contact@website.com,last one with text.,555-555-5555,33.0,70000,2020-07-08

In [38]:
df['Text'] = df['Text'].str.replace(r'@(a-zA-Z0-9\s)','',regex=True)
df

,ID,Email,Text,Phone,Age,Salary,Registration_Date
0,abc123,test.email@example.com,this is a sample text.,+1-800-555-1234,25.0,50000,2022-01-15
1,def456,another.email@domain.org,another example text here.,800-555-5678,30.0,60000,2021-06-25
2,ghi789,user@website.net,text with numbers 123 and symbols #!@.,123-456-7890,22.0,52000,2023-03-10
3,JKL012,invalid-email,text with multiple spaces,1-800-555-2345,40.0,80000,2020-12-01
4,mno345,sample.user@domain.com,NaN,NaN,35.0,75000,2021-09-14
5,PQR678,test@example.com,text to clean!,+44 20 7946 0958,28.0,58000,2022-04-05
6,stu901,NaN,text with caps and nums 456,(123) 456-7890,26.0,62000,2023-02-19
7,vwx234,user@domain..com,random text to clean,8005557890,29.0,54000,2022-08-22
8,NaN,admin@site,special chars!@#,123 456 7890,NaN,49000,2021-11-30
9,YZ789,contact@website.com,last one with text.,555-555-5555,33.0,70000,2020-07-08

In [39]:
df["Domain"] = df["Email"].str.extract(r"@([a-zA-Z0-9.-]+)")
df

,ID,Email,Text,Phone,Age,Salary,Registration_Date,Domain
0,abc123,test.email@example.com,this is a sample text.,+1-800-555-1234,25.0,50000,2022-01-15,example.com
1,def456,another.email@domain.org,another example text here.,800-555-5678,30.0,60000,2021-06-25,domain.org
2,ghi789,user@website.net,text with numbers 123 and symbols #!@.,123-456-7890,22.0,52000,2023-03-10,website.net
3,JKL012,invalid-email,text with multiple spaces,1-800-555-2345,40.0,80000,2020-12-01,NaN
4,mno345,sample.user@domain.com,NaN,NaN,35.0,75000,2021-09-14,domain.com
5,PQR678,test@example.com,text to clean!,+44 20 7946 0958,28.0,58000,2022-04-05,example.com
6,stu901,NaN,text with caps and nums 456,(123) 456-7890,26.0,62000,2023-02-19,NaN
7,vwx234,user@domain..com,random text to clean,8005557890,29.0,54000,2022-08-22,domain..com
8,NaN,admin@site,special chars!@#,123 456 7890,NaN,49000,2021-11-30,site
9,YZ789,contact@website.com,last one with text.,555-555-5555,33.0,70000,2020-07-08,website.com

In [41]:
# Normalize phone numbers to a common format
df["Phone"] = df["Phone"].str.replace(
    r"\D", "", regex=True
)  # Remove all non-numeric characters
df["Phone"] = df["Phone"].apply(
    lambda x: (
        re.sub(r"(\d{3})(\d{3})(\d{4})", r"\1-\2-\3", x)
        if pd.notnull(x) and len(x) == 10
        else x
    )
)
df

,ID,Email,Text,Phone,Age,Salary,Registration_Date,Domain
0,abc123,test.email@example.com,this is a sample text.,18005551234,25.0,50000,2022-01-15,example.com
1,def456,another.email@domain.org,another example text here.,800-555-5678,30.0,60000,2021-06-25,domain.org
2,ghi789,user@website.net,text with numbers 123 and symbols #!@.,123-456-7890,22.0,52000,2023-03-10,website.net
3,JKL012,invalid-email,text with multiple spaces,18005552345,40.0,80000,2020-12-01,NaN
4,mno345,sample.user@domain.com,NaN,NaN,35.0,75000,2021-09-14,domain.com
5,PQR678,test@example.com,text to clean!,442079460958,28.0,58000,2022-04-05,example.com
6,stu901,NaN,text with caps and nums 456,123-456-7890,26.0,62000,2023-02-19,NaN
7,vwx234,user@domain..com,random text to clean,800-555-7890,29.0,54000,2022-08-22,domain..com
8,NaN,admin@site,special chars!@#,123-456-7890,NaN,49000,2021-11-30,site
9,YZ789,contact@website.com,last one with text.,555-555-5555,33.0,70000,2020-07-08,website.com

In [43]:
#  Handle missing values
df['ID'] = df['ID'].fillna('unknown')
df['Email'] = df['Email'].fillna('missing@example.com')
df['Text'] = df['Text'].fillna('No text provided')
df['Phone'] = df['Phone'].fillna('000-000-0000')
df['Age'] = df['Age'].fillna(df['Age'].mean())  # Fill missing Age with the mean age
df

,ID,Email,Text,Phone,Age,Salary,Registration_Date,Domain
0,abc123,test.email@example.com,this is a sample text.,18005551234,25.000000,50000,2022-01-15,example.com
1,def456,another.email@domain.org,another example text here.,800-555-5678,30.000000,60000,2021-06-25,domain.org
2,ghi789,user@website.net,text with numbers 123 and symbols #!@.,123-456-7890,22.000000,52000,2023-03-10,website.net
3,JKL012,invalid-email,text with multiple spaces,18005552345,40.000000,80000,2020-12-01,NaN
4,mno345,sample.user@domain.com,No text provided,000-000-0000,35.000000,75000,2021-09-14,domain.com
5,PQR678,test@example.com,text to clean!,442079460958,28.000000,58000,2022-04-05,example.com
6,stu901,missing@example.com,text with caps and nums 456,123-456-7890,26.000000,62000,2023-02-19,NaN
7,vwx234,user@domain..com,random text to clean,800-555-7890,29.000000,54000,2022-08-22,domain..com
8,unknown,admin@site,special chars!@#,123-456-7890,29.777778,49000,2021-11-30,site
9,YZ789,contact@website.com,last one with text.,555-555-5555,33.000000,70000,2020-07-08,website.com