In [1]:
#write Csv
import pandas as pd

In [4]:
var = pd.DataFrame(
    {
        "A" : [1,2,3,4,5],
        "B" : [6,7,8,9,10],
        "C" : [11,12,13,14,15],
    }
)
var

   A   B   C
0  1   6  11
1  2   7  12
2  3   8  13
3  4   9  14
4  5  10  15

In [5]:
# with Index
var.to_csv("Test_new.csv")

In [9]:
#without Index
var.to_csv("Test_new1.csv",index=False)

In [8]:
#without Index
var.to_csv("Test_new2.csv",index=False,header=['a' , 'b' , 'c'] )