In [3]:
#Reading Csv
import pandas as pd

In [5]:
df = pd.read_excel(r"C:\Users\chandan\Desktop\WsCubePyhton\Pandas\CsV File Data\Customer Call List.xlsx")
# df = pd.read_csv(r"C:\Users\chandan\Desktop\WsCubePyhton\CsV File Data\Customer Call List.csv")
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,True
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,True
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,False
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No,False
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN,False
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,True
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,True
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,True
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,False
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No,False
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No,False
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,False
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No,False
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN,True
18,1019,Creed,Braton,N/a,N/a,N/a,Yes,True
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True
20,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True

In [6]:
df = pd.read_excel(r"C:\Users\chandan\Desktop\WsCubePyhton\Pandas\CsV File Data\Customer Call List.xlsx",nrows =3)
# df = pd.read_csv(r"C:\Users\chandan\Desktop\WsCubePyhton\CsV File Data\Customer Call List.csv")
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN,True

In [8]:
df = pd.read_excel(r"C:\Users\chandan\Desktop\WsCubePyhton\Pandas\CsV File Data\Customer Call List.xlsx",usecols = ["CustomerID", "Address"] )
# df = pd.read_excel(r"C:\Users\chandan\Desktop\WsCubePyhton\CsV File Data\Customer Call List.xlsx",usecols = [0,2] )
df

    CustomerID                                Address
0         1001                  123 Shire Lane, Shire
1         1002                    93 West Main Street
2         1003                     298 Drugs Driveway
3         1004  980 Paper Avenue, Pennsylvania, 18503
4         1005                       123 Dragons Road
5         1006                       768 City Parkway
6         1007                      1209 South Street
7         1008                          98 Clue Drive
8         1009                       123 Middle Earth
9         1010             25th Main Street, New York
10        1011                  612 Shire Lane, Shire
11        1012                   2394 Hogwarts Avenue
12        1013                       2039 Main Street
13        1014                       343 City Parkway
14        1015                          214 HR Avenue
15        1016                   2395 Hogwarts Avenue
16        1017         121 Paper Avenue, Pennsylvania
17        1018                        3498 Super Lane
18        1019                                    N/a
19        1020            910 Tatooine Road, Tatooine
20        1020            910 Tatooine Road, Tatooine

In [10]:
df = pd.read_excel(r"C:\Users\chandan\Desktop\WsCubePyhton\Pandas\CsV File Data\Customer Call List.xlsx",skiprows=[0,3])
df

,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
0,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False
1,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
2,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,True
3,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,True
4,1007,Jeff,Winger,NaN,1209 South Street,No,No,False
5,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No,False
6,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN,False
7,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,True
8,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,True
9,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,True
10,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,False
11,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No,False
12,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No,False
13,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,False
14,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No,False
15,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN,True
16,1019,Creed,Braton,N/a,N/a,N/a,Yes,True
17,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True
18,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True

In [11]:
df = pd.read_excel(r"C:\Users\chandan\Desktop\WsCubePyhton\Pandas\CsV File Data\Customer Call List.xlsx",index_col="CustomerID")
df

,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
CustomerID,,,,,,,
1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False
1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN,True
1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,True
1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,True
1007,Jeff,Winger,NaN,1209 South Street,No,No,False
1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No,False
1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN,False
1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,True
1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,True
1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,True
1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,False
1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No,False
1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No,False
1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,False
1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No,False
1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN,True
1019,Creed,Braton,N/a,N/a,N/a,Yes,True
1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True
1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True

In [12]:
df = pd.read_excel(r"C:\Users\chandan\Desktop\WsCubePyhton\Pandas\CsV File Data\Customer Call List.xlsx",header = 2).head(10)
df

,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False
0,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN,True
1,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
2,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,True
3,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,True
4,1007,Jeff,Winger,NaN,1209 South Street,No,No,False
5,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No,False
6,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN,False
7,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,True
8,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,True
9,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,True

In [15]:
df = pd.read_excel(r"C:\Users\chandan\Desktop\WsCubePyhton\Pandas\CsV File Data\Customer Call List.xlsx",names=["col1","col2","col3","col4","col5","col6","col7","col8"]).tail(10)
df

,col1,col2,col3,col4,col5,col6,col7,col8
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,True
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,False
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No,False
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No,False
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,False
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No,False
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN,True
18,1019,Creed,Braton,N/a,N/a,N/a,Yes,True
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True
20,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True

In [18]:
df = pd.read_excel(r"C:\Users\chandan\Desktop\WsCubePyhton\Pandas\CsV File Data\Customer Call List.xlsx",header = None,prefix = "col").head(10)
df

TypeError: read_excel() got an unexpected keyword argument 'prefix'

In [21]:
df = pd.read_excel(r"C:\Users\chandan\Desktop\WsCubePyhton\Pandas\CsV File Data\Customer Call List.xlsx",dtype=["CustomerID" : "float"])
df

SyntaxError: invalid syntax (3054434710.py, line 1)